.navbar{
  display: flex;
  justify-content: space-between;
  padding: 0px 70px;
  margin: 20px 200px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  align-items: center;
  border-radius: 80px;
  background-color: rgba(255, 255, 255);
}

.nav-logo{
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo img{
  width: 90px;
}
.nav-logo p{
  color: #171717;
  font-size: 25px;
  font-weight: 90;
}
.nav-menu{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 50px;
  color: #626262;
  font-size: 20px;
  font-weight: 500;
}
.nav-menu li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
}
.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 70px;
}
.nav-login-link, .nav-cart-link{
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 90px;
}
